@import helper._
@(distinctList: List[Any])(message: String)(inputForm : Form[views.formdata.InputFormData])


@main("My second play for scala app") {
    <div class="container">
        <div class="jumbotron">
            <h1>@message</h1>
            <p>Working with lists</p>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading" data-toggle="collapse" data-target="#dupl">
                            Eliminate consecutive duplicates of list elements
                        </h4>
                        <div id="dupl" class="collapse">
                            <p>If a list contains repeated elements they should be replaced with a single copy of the element.
                            The order of the elements should not be changed.
                            </p>
                            <p>Example:
                            <pre>
                            <br>scala> duplicates(List('a,'a,'a,'a,'b,'c,'c,'a,'a,'d,'e,'e,'e,'e))
                            <br>res0:  List[Symbol] = List('a,'b,'c,'a,'d,'e)
                            </p>
                            </pre>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-7">
                <div>
                    <pre>def distinct[A](ls: List[A]): List[A] = ls.distinct</pre>
                </div>
                @form(routes.Application.postInput, 'role -> "form"){
                    <div class="form-group">
                        <label for="sometext">Input list here. Example: 12345 represents List(1,2,3,4,5):</label>
                        <input id="@inputForm("sometext").id"
                               name="@inputForm("sometext").name"
                               value="@inputForm("sometext").value"
                               class="form-control"
                               autofocus>
                    </div>
                    <div class="form-group">
                        <p><button type="submit" class="btn btn-primary">Filter duplicates</button></p>
                    </div>
                }
                <div class="well">
                    <label for="output">Your text without duplicates characters:</label>
                    <p id="output" class="bg-info">@distinctList</p>
                </div>
            </div>
        </div>
    </div>
}